<%- include('../includes/head')%> <%- include('../includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="my-3">
      <h1 class="text-center">Clientes Cadastrados</h1>
      <p class="text-center lead">Clientes cadastrados no sistema</p>

      <a
        href="/cliente"
        type="button"
        class="align-self-center btn btn-outline-primary my-5"
        >Cadastrar novo cliente</a
      >

      <%- include('../includes/messages')%>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation" onclick="resetAdressForm()">
          <a
            href="#tabPF"
            class="nav-link active"
            id="linkPF"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="tabPF"
            >Clientes Pessoa Física</a
          >
        </li>
        <li class="nav-item" role="presentation" onclick="resetAdressForm()">
          <a
            href="#tabPJ"
            class="nav-link"
            id="linkPJ"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="tabPJ"
            >Clientes Pessoa Jurídica</a
          >
        </li>
      </ul>

      <div class="tab-content" id="meusConteudos">
        <div
          class="tab-pane fade show active"
          id="tabPF"
          role="tabpanel"
          aria-labelledby="linkPF"
        >
          <table
            id="tabela"
            class="table table-striped table-hover rounded shadow-lg"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% clientesPF.forEach(clientePF => {
              %>
              <tr>
                <td><%= clientePF.nome %></td>
                <td><%= clientePF.cpf %></td>
                <td><%= clientePF.telefone %></td>
                <td>                  
                  <ul>
                    <% for(var i=0; i<clientePF.enderecos.length; i++) {%>
                      <p class="card-text text-start text-dark">
                       <%= clientePF.enderecos[i].cep %>,
                       <%= clientePF.enderecos[i].bairro %>
                      </p>
                      <p class="card-text text-start text-dark">
                       <%= clientePF.enderecos[i].rua %>,
                       <%= clientePF.enderecos[i].numero %>
                      </p>
                      <p class="card-text text-start text-dark">
                       <%=
                       clientePF.enderecos[i].complemento
                       %>
                      </p>
                      <p class="card-text text-start text-dark">
                       <%= clientePF.enderecos[i].cidade %>
                       - <%= clientePF.enderecos[i].estado
                       %>
                      </p>
                    <% } %>
                  </ul>

                </td>
                <td>
                  <a href="/cliente/<%= clientePF._id %>">
                    Editar
                  </a>
                </td>

              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-content" id="meusConteudos">
        <div
          class="tab-pane fade"
          id="tabPJ"
          role="tabpanel"
          aria-labelledby="linkPJ"
        >
          <table
            id="tabela2"
            class="table table-striped table-hover rounded shadow-lg my-3"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Razão Social</th>
                <th>Nome Fantasia</th>
                <th>CNPJ</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% clientesPJ.forEach(clientePJ => {
              %>
              <tr>
                <td><%= clientePJ.razaoSocial %></td>
                <td><%= clientePJ.nomeFantasia %></td>
                <td><%= clientePJ.cnpj %></td>
                <td><%= clientePJ.telefone %></td>
                <td>
                    <ul>
                      <% for(var i=0; i<clientePJ.enderecos.length; i++) {%>
                        <p class="card-text text-start text-dark">
                        <%= clientePJ.enderecos[i].cep %>,
                        <%= clientePJ.enderecos[i].bairro %>
                        </p>
                        <p class="card-text text-start text-dark">
                          <%= clientePJ.enderecos[i].rua %>,
                          <%= clientePJ.enderecos[i].numero %>
                        </p>
                        <p class="card-text text-start text-dark">
                          <%=
                          clientePJ.enderecos[i].complemento
                          %>
                        </p>
                        <p class="card-text text-start text-dark">
                          <%= clientePJ.enderecos[i].cidade %>
                          - <%= clientePJ.enderecos[i].estado
                          %>
                        </p>
                      <% } %>
                    </ul>
                </td>
                  <td>
                    <a href="/cliente/<%= clientePJ._id%>">Editar</a>
                  </td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <%- include('../includes/footer')%>
    </div>
  </div>
</div>













