<%- include('../includes/head')%> <%- include('../includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="my-3">
      <h1 class="text-center">Clientes Cadastrados</h1>
      <p class="text-center lead">Clientes cadastrados no sistema</p>

      <a
        href="/cliente"
        type="button"
        class="align-self-center btn btn-outline-primary my-5"
        >Cadastrar novo cliente</a
      >

      <%- include('../includes/messages')%>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation" onclick="resetAdressForm()">
          <a
            href="#tabPF"
            class="nav-link active"
            id="linkPF"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="tabPF"
            >Clientes Pessoa Física</a
          >
        </li>
        <li class="nav-item" role="presentation" onclick="resetAdressForm()">
          <a
            href="#tabPJ"
            class="nav-link"
            id="linkPJ"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="tabPJ"
            >Clientes Pessoa Jurídica</a
          >
        </li>
      </ul>

      <div class="tab-content" id="meusConteudos">
        <div
          class="tab-pane fade show active"
          id="tabPF"
          role="tabpanel"
          aria-labelledby="linkPF"
        >
          <table
            id="tabela"
            class="table table-striped table-hover rounded shadow-lg"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% clientesPF.forEach(clientePF => { %>
              <tr>
                <td><%= clientePF.nome %></td>
                <td><%= clientePF.cpf %></td>
                <td><%= clientePF.telefone %></td>
                <td>
                  <a
                    class="btn btn-primary"
                    data-bs-toggle="collapse"
                    href="#collapseEnderecosPF"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseEnderecosPF"
                    onclick="mostrarEnderecos('<%= JSON.stringify(clientePF.enderecos) %>')"
                  >
                    Mostrar endereço
                  </a>
                </td>
                <td>
                  <a href="/cliente/<%= clientePF._id %>"> Editar </a>
                </td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="collapse" id="collapseEnderecosPF"></div>

      <div class="tab-content" id="meusConteudos">
        <div
          class="tab-pane fade"
          id="tabPJ"
          role="tabpanel"
          aria-labelledby="linkPJ"
        >
          <table
            id="tabela2"
            class="table table-striped table-hover rounded shadow-lg my-3"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Razão Social</th>
                <th>Nome Fantasia</th>
                <th>CNPJ</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% clientesPJ.forEach(clientePJ => { %>
              <tr>
                <td><%= clientePJ.razaoSocial %></td>
                <td><%= clientePJ.nomeFantasia %></td>
                <td><%= clientePJ.cnpj %></td>
                <td><%= clientePJ.telefone %></td>
                <td>
                  <a
                    class="btn btn-primary"
                    data-bs-toggle="collapse"
                    href="#collapseEnderecosPJ"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseEnderecosPJ"
                    onclick="mostrarEnderecos('<%= JSON.stringify(clientePJ.enderecos) %>')"
                  >
                    Mostrar endereço
                  </a>
                </td>
                <td>
                  <a href="/cliente/<%= clientePJ._id%>">Editar</a>
                </td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="collapse" id="collapseEnderecosPJ"></div>

      <%- include('../includes/footer')%>
    </div>
  </div>
</div>

<script>
  function mostrarEnderecos(dados) {
    const enderecos = JSON.parse(dados);
    let cardEndereco = document.getElementById("collapseEnderecosPF");

    if (!tabCpfIsActive()) {
      cardEndereco = document.getElementById("collapseEnderecosPJ");
    }

    cardEndereco.innerHTML = "";
    enderecos.forEach((endereco, index) => {
      cardEndereco.innerHTML += `      
      <div class="card text-bg-secondary mt-3" id="endereco_cadastrado">
        <div class="card-header">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-dark bi bi-signpost-split" viewBox="0 0 16 16">
            <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
          </svg>
          <div class="text-center text-dark" style="display: contents;">
            Endereço ${index + 1}
          </div>
        </div>
        <div class="card-body">
          <p class="card-text  text-start text-dark">${endereco.cep}, ${
        endereco.bairro
      }</p>
          <p class="card-text  text-start text-dark">${endereco.rua}, ${
        endereco.numero
      }</p>
          <p class="card-text  text-start text-dark">${endereco.complemento}</p>
          <p class="card-text  text-start text-dark">${endereco.cidade} - ${
        endereco.estado
      }</p>
        </div>
      </div>`;
    });
  }

  // ----------------------------------------------------- Remover dados cliente pf quando trocar de aba
  function tabCpfIsActive() {
    const a_cpf = document.getElementById("linkPF");
    return a_cpf.classList.contains("active");
  }

  function resetAdressForm() {
    if (!tabCpfIsActive()) {
      const colapsse = document.getElementById("collapseEnderecosPF");
      colapsse.classList.remove("show");
    } else {
      const colapsse = document.getElementById("collapseEnderecosPJ");
      colapsse.classList.remove("show");
    }
  }
</script>
