<%- include('../includes/head')%> <%- include('../includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Editar dados do cliente</h1>
      <p class="text-center">
        Substitua os campos desejados depois clique em 'Salvar'
      </p>

      <%- include('../includes/messages')%>

      <form
        action="/cliente/edit/<%= cliente._id %> "
        method="POST"
        class="my-5"
      >
        <% if(cliente.cpf) { %>

        <div class="form-group my-3">
          <label for="inputAddress">Nome:</label>
          <input
            value="<%= cliente.nome %>"
            type="text"
            class="form-control"
            name="nome"
          />
        </div>

        <div class="form-group my-3">
          <label>CPF</label>
          <input
            value="<%= cliente.cpf %>"
            type="text"
            class="form-control"
            name="cpf"
            data-mask-for-cpf
          />
        </div>
        <div class="form-group my-3">
          <label>Telefone:</label>
          <input
            value="<%= cliente.telefone %>"
            type="text"
            class="form-control"
            name="telefone"
          />
        </div>

        <div class="form-group my-3">
          <label>Email:</label>
          <input
            value="<%= cliente.email %>"
            type="text"
            class="form-control"
            name="telefone"
          />
        </div>

        <div id="enderecos">
        <% cliente.enderecos.forEach((endereco, index) => { %>
        <div id="formEndereco_<%= index %>">
          <div
            id="loading"
            class="d-none"
            style="display: flex; justify-content: center; align-items: center"
          >
            <button class="btn btn-primary" type="button" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <span>Loading...</span>
            </button>
          </div>
          <div class="container border" id="adress_<%= index %>">
            <div
              class="mt-4 pt-4"
              style="display: flex; justify-content: center; align-items: center"
            >
              <h3>Endereço</h3>
            </div>
            <form class="pt-5">
              <p class="msg my-5"></p>
              <div class="form-outline mb-4">
                <label class="form-label pt-2"><span>CEP: *</span></label>
                <input
                  value="<%= endereco.cep %>"
                  data-mask-for-cep
                  required
                  type="text"
                  class="form-control"
                  id="cep_<%= index %>"
                  onblur="buscaCEP('<%= index %>')"
                  onkeyup="buscaCEP('<%= index %>')"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Rua: *</label>
                <input
                  value="<%= endereco.rua %>"
                  required
                  type="text"
                  class="form-control"
                  id="rua_<%= index %>"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Numero: *</label>
                <input
                  value="<%= endereco.numero %>"
                  required
                  type="number"
                  class="form-control"
                  id="numero_<%= index %>"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Complemento:</label>
                <input
                  value="<%= endereco.complemento %>"
                  type="text"
                  class="form-control"
                  id="complemento_<%= index %>"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Bairro: *</label>
                <input
                  value="<%= endereco.bairro %>"
                  required
                  type="text"
                  class="form-control"
                  id="bairro_<%= index %>"
                />
              </div>

              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label" for="form6Example1"
                      >Cidade: *</label
                    >
                    <input
                      value="<%= endereco.cidade %>"
                      required
                      type="text"
                      class="form-control"
                      id="cidade_<%= index %>"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label">Estado: *</label>
                    <input
                      value="<%= endereco.estado %>"
                      required
                      type="text"
                      class="form-control"
                      id="estado_<%= index %>"
                    />
                  </div>
                  <div class="text-right float-end pt-3">
                    <button
                      type="button"
                      class="btn btn-danger"
                      onclick="removerFormEndereco('<%= index %>')"
                    >Remover</button>
                  </div>
                </div>
              </div>
            </form>
          </div>        
        </div>
        <% }); %> <% } else { %>

        <div class="form-row">
          <div class="form-group my-3">
            <label>CNPJ:</label>
            <input
              type="text"
              value="<%= cliente.cnpj %>"
              class="form-control"
              name="cnpj"
              data-mask-for-cnpj
            />
          </div>
          <div class="form-group">
            <label for="inputEmail4">Nome Fantasia:</label>
            <input
              value="<%= cliente.nomeFantasia %>"
              type="text"
              class="form-control"
              name="nomeFantasia"
            />
          </div>
        </div>
        <div class="form-group my-3">
          <label for="inputAddress">Razão Social</label>
          <input
            value="<%= cliente.razaoSocial %>"
            type="text"
            class="form-control"
            name="razaoSocial"
          />
        </div>
        <div class="form-group my-3">
          <label for="inputAddress">Email</label>
          <input
            value="<%= cliente.email %>"
            type="email"
            class="form-control"
            name="email"
          />
        </div>
        <div class="form-group my-3">
          <label for="inputAddress">Telefone</label>
          <input
            type="tel"
            class="form-control"
            name="telefone"
            value="<%= cliente.telefone %>"
            data-mask-for-telefone
          />
        </div>
        <div class="form-group my-3">
          <label>Endereço</label>
          <input
            value="<%= cliente.endereco %>"
            type="text"
            class="form-control"
            name="endereco"
          />
        </div>
        <% } %>
      </div>
        <button type="submit" class="btn btn-success my-3" onclick="teste()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  <script>    
    const indexes = [...Array(parseInt('<%= cliente.enderecos.length %>')).keys()];
      console.log(indexes);
    function buscaCEP(index) {
      const cepInput = document.getElementById(`cep_${index}`).value;

      if (cepInput.replace("-", "").length != 8) {
        return;
      }

      document.getElementById(`adress_${index}`).classList.add("d-none");
      document.getElementById(`loading`).classList.remove("d-none");
      let error = false;

      const cepData = axios
        .post(`buscaCEP`, {
          cep: cepInput,
        })
        .then((res) => {
          return res.data;
        })
        .catch((err) => {
          console.log(err.response);
          error = true;
          alert("Verifique o CEP digitado!");
        })
        .finally((res) => {
          document.getElementById(`adress_${index}`).classList.remove("d-none");
          document.getElementById(`loading`).classList.add("d-none");
        });

      if (error) return;

      const rua = document.getElementById(`rua_${index}`);
      const numero = document.getElementById(`numero_${index}`);
      const complemento = document.getElementById(`complemento_${index}`);
      const bairro = document.getElementById(`bairro_${index}`);
      const cidade = document.getElementById(`cidade_${index}`);
      const estado = document.getElementById(`estado_${index}`);

      rua.value = cepData.logradouro;
      bairro.value = cepData.bairro;
      complemento.value = cepData.complemento;
      cidade.value = cepData.localidade;
      estado.value = cepData.uf;

      numero.focus();
    }
    
    function removerFormEndereco(index) {
      document.getElementById(`formEndereco_${index}`).remove();
      indexes[index] = 'x';
      console.log(indexes);
    }

    function teste() {
      console.log('formulario numero ' + indexes.length);
      indexes.push(indexes.length);
      console.log(indexes);
      document.getElementById('enderecos').innerHTML += '';
    }
    
    function salvarTeste() {
      indexes.forEach(element => {
        if(element != 'x') {
          // cep
          // rua numer cidade estado
          enderecosParaSalvar.push()
        }
      })
      
    }
  </script>

  <%- include('../includes/footer')%>
</div>
