<%- include('includes/head')%> <%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="my-3">
      <h1 class="text-center">Contas Cadastradas</h1>
      <p class="text-center lead">Contas cadastradas no sistema</p>

      <a
        href="/conta"
        type="button"
        class="align-self-center btn btn-outline-primary mt-5"
        >Cadastrar nova conta</a
      >

      <%- include('includes/messages')%>

      <table
        id="tabela"
        class="table table-striped table-hover rounded shadow-lg"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>Tipo de conta</th>
            <th>Classificação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% contas.forEach(conta => { %>
          <tr>
            <td><%= conta.tipoConta %></td>
            <td>
              <% if(conta.entrada && conta.saida) { %> Entrada / Saída <% } else
              if(conta.saida) { %> Saída <% } else { %> Entrada <% } %>
            </td>
            <td><a href="/conta/<%= conta._id%>">Editar</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <%- include('includes/footer')%>
    </div>
  </div>
</div>
