<%- include('includes/head')%> <%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Editar Origem</h1>
      <p class="text-center">Substitua os campos desejados depois clique em 'Salvar'</p>

      <%- include('includes/messages')%>

      <% if(origem._id) { %> 
        <form action="/origem/edit/<%= origem._id %> " method="POST" class="my-5">

        <% } else { %> 

          <form action="/origem/register" method="POST" class="my-5">
        <% } %> 



        <div class="form-group my-3">
          <label for="inputAddress">Origem:</label>
          <input
            value="<%= origem.origem %>"
            type="text"
            class="form-control"
            name="origem"
          />
        </div>
        <button type="submit" class="btn btn-primary my-3">Salvar</button>
      </form>
    </div>
  </div>

  <%- include('includes/footer')%>
</div>
